header {
  text-align: center;
  height: 56px;
}

header h1 {
  font-size: 32px;
}

header a,
header a:hover,
header a:active,
header a:visited {
  text-decoration: none;
  color: var(--rich-black-fogra-39);
}
