#movies td svg {
  font-size: 45px;
  height: 60px;
  display: inline-block;
}

.vote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid rgb(85, 82, 82);
  height: 60px;
  width: 45px;

  background-color: rgb(255, 253, 162);
}

.vote.good {
  background-color: rgb(202, 255, 202);
}

.vote.bad {
  background-color: rgb(255, 227, 227);
}
