#contentContainer > div table th {
  background-color: rgb(50, 50, 50);
  color: #fff;
}

#contentContainer table img {
  height: 60px;
}

.tableContainer {
  border: 1px solid rgb(86 86 86);
  background-color: rgb(255, 255, 255);
  height: 100%;
  overflow: scroll;
  position: relative;
}

table.table {
  margin-bottom: 0px;
}

#contentContainer table td,
#contentContainer table th {
  min-width: 70px;
  vertical-align: middle;
  padding: 5px 5px 5px 10px;
}

#contentContainer table th {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;

  border-radius: 0px !important;
}

.tableContainer .table-responsive {
  overflow-x: initial;
}

/* no data table message */
.tableContainer div#noResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-style: italic;
  font-weight: bold;

  height: 60%;
  text-align: center;
}
