/* resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* color scheme */
/* CSS HEX */
:root {
  --rich-black-fogra-39: rgb(0, 5, 5);
  --english-violet: rgb(59, 51, 85);
  --purple-navy: rgb(93, 93, 129);
  --periwinkle-crayola: rgb(191, 205, 224);
  --white: rgb(254, 252, 253);
  --action: rgb(236, 154, 41);
}

/* override Bootstrap !important rules */
:root * {
  border-radius: 5px;
  border-color: rgb(0, 0, 0);
}

svg {
  vertical-align: -3px;
}

html > body {
  background-color: var(--english-violet);
  color: var(--rich-black-fogra-39);
}

body {
  padding: 5px;
}

#container {
  max-width: 1000px;
  margin: 0px auto;
  padding: 5px;
  background-color: var(--purple-navy);
  border: 1px solid rgb(0, 0, 0);
}

#container > * {
  padding: 5px;
  border: 1px solid rgb(0, 0, 0);

  background-color: var(--periwinkle-crayola);
  margin-bottom: 5px;
}

#container,
#container > * {
  box-shadow: 0px 0px 1 px rgb(0, 0, 0);
}

#container > footer {
  margin: 0px;
  padding: 2px;
  text-align: center;
}
