/* resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
  color: greenyellow;
}

#container {
  border: 5px double greenyellow;
  border-radius: 10px;
  max-width: 800px;
  margin: 10px auto;
  padding: 10px;
  min-height: calc(100vh - 20px);
}

button:hover {
  cursor: pointer;
}

select{
  width: 100%;
}
