#formContainer {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#formContainer form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#formContainer form > div {
  margin: 0 !important;
}

#formContainer form input,
#formContainer form select {
  text-align: center;
}

.form-label {
  display: none;
}

#formContainer #resultsContainer {
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  padding: 5px;
  font-style: italic;
  text-align: center;
}

#formContainer #resultsContainer span{
  font-weight: bold;
}

#formContainer .form-control,
#formContainer .form-select,
#resultsContainer {
  margin-bottom: 5px;
  border: 1px solid black;
}

#formContainer .form-control:focus {
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%) inset;
}

#formContainer .form-control.is-valid,
#formContainer .was-validated .form-control:valid,
#formContainer .form-select.is-valid,
#formContainer .was-validated .form-select:valid {
  box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%) inset;
  border: 1px solid rgb(25, 135, 84);
}

#formContainer .form-control.is-invalid,
#formContainer .was-validated .form-control:invalid,
#formContainer .form-select.is-invalid,
#formContainer .was-validated .form-select:invalid {
  box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%) inset;
  border: 1px solid rgb(220, 53, 69);
}

#formContainer .form-control.is-invalid::placeholder,
#formContainer .was-validated .form-control:invalid::placeholder {
  color: rgb(220, 53, 69);
}

/* Submit Button */
.btn:disabled, button.btn-primary,
button.btn-primary:not(.btn-check) + .btn:active,
button.btn-primary:visited,
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active,
:not(.btn-check) + .btn:active {
  background-color: var(--action) !important;
  border-color: black !important;
}

button.btn-primary:hover {
  cursor: pointer;
  background-color: rgb(228, 151, 10) !important;
}
