table{
  position: absolute;
  top: 5px;
}


#weather {
  background-color: rgb(231, 213, 195);
}

#weather table img {
  width: 50px;
}

#weather table th {
  background-color: rgb(50, 50, 50);
  color: #fff;
}

#weather table td {
  min-width: 70px;
}

th:nth-child(1),
td:nth-child(1) {
  display: none;
}
